body {
  margin: 0px;
  font-family: sans-serif;
}

.container1{
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  padding: 0 5px;
}

.container2{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0 5px;
}

.container3{
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
}

.courses-line {
  background-image: url(details/imgs/aboutCourse/liner.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.line-info {
  width: 100%;
  position: relative;
  padding: 50px;
}

.line-info p{
  margin: 10px 0;
  font-size: 17px;
}

.author_anchor{
  color: black;
  padding: 0px;
  margin: 0px;
  background: none;
  text-decoration: none;
}

.author_anchor:hover{
  color: #5624D0;
}

.video video{
  height: 200px;
}

.video {
  margin: 80px;
}

.video-2 {
  display: none;
}

.certificate {
  margin-bottom: 100px;
}

.certificate a{
  display: flex;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 55px;
}

.certificate img{
  height: 30px;
}

.certificate p{
  font-size: 11px;
  margin: 0 10px;
}

.text {
  position: relative;
  max-width: 850px;
}

.text h2{
  font-size: 25px;
  margin: 10px 0;
}

.text p {
  font-size: 17px;
}

.teacher {
  display: flex;
  margin-bottom: 20px;
}

.teacher p{
  font-size: 13px;
  margin: 3px 0;
}

.coursePlan {
  user-select: none;
  margin-bottom: 20px;
}

.coursePlan p{
  font-size: 25px;
}

summary{
  font-size: 20px;
  list-style: none;
}

summary:before{
  content: '\2B9E';
  margin-right: 10px;
  font-size: 15px;
}

details[open] summary:before {
   content: '\2B9D';
}

.plan p{
  font-size: 20px;
  margin: 5px;
}

.aboutCard{
  width: 300px;
  height: fit-content;
  border:none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 10px;
  margin-left: auto;
}

.courseName p{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}

.aboutCard p{
  font-size: 20px;
  margin: 20px;
}

.price_list h2 {
  margin: 0px 5px;
}

.price_list{
  display: flex;
  margin-left: 15px;
}

.buy {
  text-align: center;
}

.price_list h3 {
  text-decoration: line-through;
  opacity: 0.5;
}

.buy {
  margin-top: 20px;
}

.buy-type label{
  font-size: 16px;
}


.buy-btn {
  display: block;
  text-decoration: none;
  background-color: orange;
  color: white;
  font-size: 23px;
  padding: 10px 30px;
  border-radius: 10px;
}

.coupon-btn {
  text-decoration: none;
  background-color: #0098a6;
  color: white;
  font-size: 23px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.trial_lesson {
  text-align: center;
  margin: 15px;
}

.author_photo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 1px solid gray;
  background-position: center;
  background-size: cover;
}
